.aboutSection {
  padding: 64px 5%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: white;
}

.top {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.top2 {
  margin-top: 9%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.col1 {
  flex: 0 0 30%;
}

.heading {
  width: 90%;
  font-family: 'Instrument Sans', sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 8px;
}

.col2 {
  flex: 0 0 28%;
}

.lead {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  font-family: 'Instrument Sans', sans-serif;
  color: black;
}

.col3 {
  flex: 0 0 36%;
}

.desc {
  font-size: 20px;
  line-height: 32px;
  font-family: 'Inter', sans-serif;
  color: #333;
}

.iconRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.iconItem {
  display: flex;
  flex-direction: row;
  align-items: start;
  
  align-items: center;
  text-align: center;
}

.iconItem img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-right: 20px;
}

.iconItem span {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  text-align: left;
  color: #000;
}


.impactStats {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #000;
  margin-top: 48px;
  text-align: center;
}


.statsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
 
  padding: 16px 0;
}

.statItem {
  flex: 1 1 20%;
  min-width: 200px;
  text-align: center;
}

.statTitle {
  font-family: 'Castoro', serif;
  font-size: 40px;
  color: #98A994;
  margin-bottom: 8px;
}

.statSubtitle {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
}

@media (max-width: 1208px) {  
   .aboutSection {
  padding: 36px 5%;
  gap: 32px;
  background-color: white;
}

.top {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.col1 {
  flex: 0 0 24%;
}

.heading {
  width: 90%;
  font-family: 'Instrument Sans', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 8px;
}

.col2 {
  flex: 0 0 26%;
}

.lead {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  font-family: 'Instrument Sans', sans-serif;
  color: black;
}

.col3 {
  flex: 0 0 40%;
}

.desc {
  font-size: 16px;
  line-height: 28px;
  font-family: 'Inter', sans-serif;
  color: #333;
}

.highlights {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.highlightItem {
  flex: 1 1 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
   filter: grayscale(100%);
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.highlightText {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin-top: 16px;
  color: #0B1E21;
}

.iconItem img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-right: 20px;
}

.iconItem span {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  text-align: left;
  color: #000;
}

.statTitle {
  font-family: 'Castoro', serif;
  font-size: 24px;
  color: #98A994;
  margin-bottom: 8px;
}

.statSubtitle {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
}

.impactStats {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #000;
  margin-top: 48px;
  text-align: center;
}
}

